<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/nav'); -%>
    <div class="card border-dark justify-content-center" style="max-width: 50rem; margin: 10rem auto">
        <div class="card-header">
            <h3 class="heading-h4">Enter OTP</h3>
        </div>
        <div class="card-body text-dark">
            <form class="form">
                <div class="close-icon icon" data-close-button>
                    <i class="fas fa-times"></i>
                </div>
                <div class="text__box">
                    <input type="text" placeholder="Enter OTP sent to your email" id="otp" />
                </div>
                <input name="location" value=" " />
                <div><%- include('../partials/message.ejs'); -%></div>
                <input
                    class="btn-submit"
                    type="submit"
                    name="submit"
                    value="Validate"
                />
            </form>
        </div>
    </div>
    <%- include('../partials/footer'); -%> <%-
    include('../partials/script-line'); -%>
    <script>
        $("form").on("submit",async function(e) {
            e.preventDefault();
            await axios.post("/client/api/validate", {
                otp: $("#otp").val()
            })
            .then(function(res) {
                if (!res.data) return window.location = "validate";
                return window.location = "/newPassword";
            })
        })
    </script>
  </body>
</html>